/*
  This file is part of GNU Dico.
  Copyright (C) 2008-2010, 2012, 2013 Wojciech Polak

  GNU Dico is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3, or (at your option)
  any later version.

  GNU Dico is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with GNU Dico.  If not, see <http://www.gnu.org/licenses/>.
*/
@import url(//fonts.googleapis.com/earlyaccess/notosansdevanagari.css);



* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NotoSansDevanagari', sans-serif;
  font-size: 95%;
  background-color: white;
  color: #585858;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1em;
  overflow-y: scroll;
}

h1, h2, h3 {
  font-weight: normal;
}
h2, h3, h4 {
  color: #185360;
}
h2 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: .17em;
}
h3 { margin-bottom: 8px; }

img {
  padding: 3px;
  border: 0px;
}

a { color: #ff5c2f; }
a:hover { text-decoration: underline; }

input {
  padding: 1px;
}

ul {
  margin-bottom: 1em;
}
li {
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  line-height: 1.5em;
}
p {
  line-height: 1.8em;
  margin-bottom: 0.2em;
}
pre {
  font-size: 130%;
  text-align: justify;
  white-space: normal;
  line-height: 140%;
  padding: 1em;
}
pre a { text-decoration: none; }
pre h3, pre h4 { margin-top: 1.2em; }

table { border-spacing: 2px; }
table td.label { width: 25%; }
tr, th, td {
  padding: 2px;
  vertical-align: middle;
}

.clear { clear: both; }
.hidden { display: none }

#wrap { margin: 1em 0; }

#logo { float: left; }
#logo h1 {
  padding-left: 15px;
  padding-bottom: 3px;
}
#logo a {
  text-decoration: none;
}
#logo img {
  padding-left: 15px;
}

#main { padding-top: 45px; }
#searchform table { margin: 0 auto; }

.results, .derror {
  border-top: dotted 1px #e1e1e1;
  margin: 1em auto 0 auto;
  padding: 4px;
  padding-top: 10px;
  clear: both;
}
.dbname-short {
  border-bottom: 1px dotted #aaaaaa;
  cursor: help;
}
a.link-lmr {
  float: right;
  font-size: 8pt;
}

input, select { padding: 3px; }
#toggle_options { white-space: nowrap; }

#footer {
  clear: both;
  font-size: 80%;
  text-align: center;
  border-top: dotted 1px #e1e1e1;
  margin: 1.2em auto 10px auto;
  padding: 10px 4px 4px 4px;
}

/* mobile devices */
@media screen and (max-width: 360px) {
  #action-pad { display: none; }
}
@media screen and (max-width: 640px) {
  #main { padding-top: 50px; }
  #logo h1 { font-size: 2em; float: right; }
  #logo img {
    max-width: 48px; max-height: 48px;
    float: left; padding-left: 0;
  }
  #searchform { clear: both; margin-top: 1em; }
  #action { padding-top: 0.5em; }
  table { max-width: 100%; }
  td.label { width: 20% !important; }
  input, select { width: auto; max-width: 215px; }
  li { margin-left: 1em; margin-bottom: 1em; }
  pre { font-size: 90%; padding: 0; }
}


.flex-container {
	display: flex;
	flex-wrap: nowrap;
}

.flex-container > div {
	width: 25%;
	margin: 10px;
	text-align: justify;
}

